# =============
# Pycache Files
# =============
# Normal Runs
netmeter/pyaux/__pycache__/
netmeter/pynet/__pycache__/

# PyInstaller
netmeter/__pycache__/

# Prepared Data Files - I/O (I: PCAPNGs/PCAPs; O: CSVs, JSONs)
netmeter/data-files/

# Raw Datasets and MD5s (PCAPNGs, PCAPs and MD5s)
# Current datasets: CIC-IDS-2017, CSE-CIC-IDS-2018
raw-datasets/

