# =============
# Pycache Files
# =============
__pycache__/

# ==============
# NetStudy Files
# ==============
s0-author-labeled-flows/
s1-netgenes-unlabeled-csv-data-files/
s2-author-normalized-labeled-flows/
s3-netgenes-labeled-flows/
s4-netgenes-labeled-corrected-flows/